Pratical-Projects/XML &JSON Data Transformation & Validation/XQuery + XSD/transferencias.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">

  <xs:element name="Transferencias">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Transferencia" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID_Transferencia" type="xs:int" minOccurs="1"/>
              <xs:element name="ID_Paciente"       type="xs:int" minOccurs="1"/>
              <xs:element name="Data_Transferencia" type="xs:date" minOccurs="1"/>
              <xs:element name="Motivo"            type="xs:string" minOccurs="0"/>
              <xs:element name="Destino"           type="xs:string" minOccurs="1"/>
              <xs:element name="Tipo_Transferencia" type="xs:string" minOccurs="0"/>
              <xs:element name="Hospital_Origem"   type="xs:string" minOccurs="1"/>

              <xs:element name="Relatorio_Medico" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Relatorio" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID_Atendimento" type="xs:int" minOccurs="1"/>
                          <xs:element name="Data_Atendimento" type="xs:date" minOccurs="1"/>
                          
                          <xs:element name="Responsavel" minOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID_Profissional" type="xs:int"    minOccurs="1"/>
                                <xs:element name="Nome_Completo"   type="xs:string" minOccurs="1"/>
                                <xs:element name="Especialidade"   type="xs:string" minOccurs="1"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>

                          <xs:element name="Diagnostico" minOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Tipo_Diagnostico"       type="xs:string" minOccurs="1"/>
                                <xs:element name="Codigo_CID10"           type="xs:string" minOccurs="1"/>
                                <xs:element name="Descricao_Diagnostico"  type="xs:string" minOccurs="1"/>
                                <xs:element name="Diagnostico_Cronico"    type="xs:string" minOccurs="1"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>

                          <xs:element name="Tratamentos" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Tratamento" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="ID_Tratamento"    type="xs:int"    minOccurs="1"/>
                                      <xs:element name="Tipo_Tratamento"  type="xs:string" minOccurs="1"/>
                                      <xs:element name="Realizado"        type="xs:string" minOccurs="1"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>

                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>